


.nav-item a:hover {
    background-color: #555; 
    border-radius: 4px;
}

.searchbutton a:hover{
    background-color:#555; 
}






footer {
	background-color: #090909;
    color: white;
	padding: 1em;
	text-align: center;
    width: 100%;
    
    bottom: 0;
    right: 0;
	z-index: 3;
}


.flex-footer > a {
	color: white;
}

.flex-footer{
    display: flex;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

.flex-footer > a:hover{
        text-decoration: none;
        color: #555;
}

.footercontent {
    text-transform: uppercase;
}
.backgroundtrends{
    background-color: #090909;
}






.background-container {
    position: relative;
    width: 100%;
    height: 200px; 
    background-image: url('../Img/security-79397_1280.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter {
    color: white;
    font-size: 2rem;
    text-align: center;}