


.nav-item a:hover {
    background-color: #555; 
    border-radius: 4px;
}

.searchbutton a:hover{
    background-color:#555; 
}






footer {
	background-color: #090909;
    color: white;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
}


.flex-footer > a {
	color: white;
}

.flex-footer{
    display: flex;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > a:hover{
        text-decoration: none;
        color: #555;
}

.footercontent {
    text-transform: uppercase;
}
